<div style="padding: 20px">
  <h1>Animation Angular</h1>
  <button mat-raised-button color="accent" (click)="animateOnce()">Animer une fois</button>
  <button mat-raised-button color="accent" (click)="animateLoop()">Animer en boucle</button>
  <button mat-raised-button color="warn" (click)="stopAnimation()">Arrêter animation</button>
  <div
    class="square"
    style="background-color: red;"
    [@shake]="shakeState ? 'start' : 'end'"
  ></div>

  <div
    class="square"
    style="background-color: green;"
    [@bounce]="bounceState ? 'start' : 'end'"
  ></div>

  <div
    class="square"
    style="background-color: blue;"
    [@tada]="tadaState ? 'start' : 'end'"
  ></div>
</div>

<div style="padding: 20px">
  <h1>Animation CSS</h1>
  <button mat-raised-button color="accent" (click)="rotate()">Faire tourner</button>
  <div
    class="square"
    style="background-color: orange;"
    [class.rotate-left]="isRotating"
  ></div>
</div>
